name: CI
on:
  workflow_dispatch:
jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: detec secret
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
